body{
    color: white;
    background-color: rgb(38,53,69);
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin-top: 20px;

}
button{
    width:2em;
    height: 3em;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.arrow-buttons{
    display: none;
}
h1{
    font-size: 35px;
}
#gameover{
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    display: none;
    font-size: 3em;
    color: white;
}
#video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: none;
}
span{
    display: none;
}
@media (max-width:736px),(max-height:720px){
    h1{
        font-size:23px;
    }
    h3{
        font-size:15px;
    }
}